
p.about
{
    margin: auto 2.5%;
    max-width: 45%;
    height: auto;
}

iframe.about 
{
    position: relative;
    margin: auto;
    min-width: 45%;
    min-height: 750px;
    border-radius: 8px;
}

@media only screen and (max-width: 1000px) 
{
    p.about
    {
        min-width: 90%;
    }

    iframe.about
    {
        min-width: 100%;
        margin: 5% auto;
    }
}

