/* Gelasio, supplied by Google Fonts. */
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

body
{
    margin: auto;
    background-color: #ebf9ff;
    text-align: center;
}

    body.document
    {
        background-color: #fff;
        text-align: start;
    }

div
{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}
           
h1
{
    font-family: 'Gelasio', serif;
    font-size: 5vw;
    margin: 2.5% auto;
}

h2
{
    font-family: 'Gelasio', serif;
    font-size: 2.5vw;
    margin: 3.5% 0%;
}

h3
{
    font-family: 'Gelasio', serif;
    font-size: 2vw;
    margin: auto;
    padding: 2%;
}

p 
{
    font-family: 'Gelasio', serif;
    font-size: 1.5vw;
    max-width: 90%;
    margin: auto;
}

footer 
{
    font-family: 'Gelasio', serif;
    font-size: 1.5vw;
    padding: 2%;
}

@media screen and (max-width: 1000px) 
{
    div
    {
        display: block;
    }

    h1 
    {
        font-size: 10vw;
    }

    h2 
    {
        font-family: 'Gelasio', serif;
        font-size: 5vw;
        margin: 3.5% 0%;
    }

    h3 
    {
        font-family: 'Gelasio', serif;
        font-size: 4vw;
        margin: auto;
        padding: 2%;
    }

    p 
    {
        font-family: 'Gelasio', serif;
        font-size: 3.5vw;
    }

    footer 
    {
        font-family: 'Gelasio', serif;
        font-size: 3.5vw;
        padding: 2%;
    }
}

/* Documents ==========================================================================================*/

img.document
{
    width:100%;
    height: auto;
}

@media screen and (max-width: 500px)
{
    img.document 
    {
        width: 200%;
    }
}

/* Download link ======================================================================================*/

a.download 
{
    font-family: 'Gelasio', serif;
    font-size: 3vw;
    border: none;
    border-radius: 5px;
    background-color: #45a0d0;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 30px #88bbd6;
    position: sticky;
    top: 0;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px;
    max-width: 25%;
}

    a.download:hover 
    {
        background-color: #6bbaa7;
        box-shadow: 0 5px 30px #6bbaa7;
    }

    a.download:focus 
    {
        background-color: #6bbaa7;
        box-shadow: 0 5px 30px #6bbaa7;
    }

/* Navigation bar =====================================================================================*/

div.nav 
{
    display: flex;
    flex-wrap: wrap;
    background-color: #45a0d0;
    overflow: hidden;
    margin: 0;
}

    div.nav .icon 
    {
        display: none;
    }

    div.nav a 
    {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 18px 0px;
        text-decoration: none;
        font-family: 'Gelasio', serif;
        font-size: 2vw;
        width: 25%;
    }

        div.nav a:hover 
        {
            background-color: #6bbaa7;
        }

        div.nav a:focus 
        {
            background-color: #6bbaa7;
        }

/* The active page link will be highlighted to show the user where they are but won't respond to cursor events */
.active 
{
    background-color: #04AA6D;
    pointer-events: none;
    cursor: default;
}


@media screen and (max-width: 1000px) 
{
    div.nav 
    {
        display: flex;
        flex-wrap: wrap;
    }
    
    div.nav a:is(:nth-child(4)) 
    {
        display: none;
    }

    div.nav a.icon 
    {
        display: block;
    }

    div.nav a 
    {
        font-size: 4vw;
    }

    /* The responsive attribute is added when the user clicks the burger menu. */
    div.nav.responsive 
    {
        position: relative;
        display: block;
        width: 100%;
    }

        div.nav.responsive a 
        {
            float: none;
            display: block;
            width: 100%;
        }

            div.nav.responsive a.icon 
            {
                display: none;
            }
}

