
div.index
{
    margin: 5% auto;
}

p.index
{
    margin: auto 5%;
    max-width: 45%;
    height: auto;
}

img.index 
{
    margin: auto;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
}

@media only screen and (max-width: 1000px) 
{
    p.index
    {
        min-width: 90%;
    }

    img.index
    {
        margin: 5% auto;
    }
}

